<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dylbo.RecordingBuddy">

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.dylbo.RecordingBuddy.ui.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.dylbo.RecordingBuddy.ui.RecordingGroupActivity"
            android:label="@string/recording_group_activity"
            android:windowSoftInputMode="adjustPan" />
        <!-- SongListActivity -->
        <activity
        android:name="com.example.dylbo.RecordingBuddy.ui.SongListActivity"
        android:label="@string/song_list_activity"
        android:windowSoftInputMode="adjustPan" />
        <!-- RecordingActivity -->
        <activity
            android:name="com.example.dylbo.RecordingBuddy.ui.RecordingsActivity"
            android:label="@string/recordings_activity"
            android:windowSoftInputMode="adjustPan" />
        <!-- AddSectionActivity -->
        <!-- PlaySongActivity -->
        <!-- AudioRecordTest -->
    </application>

</manifest>